.loading-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 6px;
    z-index: 100;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
}

.container .question-list {
    position:relative;
    overflow-y:auto;
    height:749px;
}

.container .question-item {
    opacity:0;
}
section.question-item p {
    line-height: 1.5;
    font-family: serif;
    font-size: 1.25em;
}

section.question-item h4 {
    font-family: sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    display: inline-block;
    line-height: 1.2em;
    vertical-align: top;
}

section.question-item h4 small {
    font-size: 1em;
    font-weight: normal;
}